<!-- <p>no-page-found works!</p> -->
<app-navbar></app-navbar>
<div class="container d-flex justify-content-center p-1" >
    <div class="error-template">
        <h3>
            404 Not Found</h3>
        <div class="error-details">
            Sorry, an error has occured, Requested page not found!
        </div>
        <div class="error-actions">
            <br>
            <a routerLink="/home" class="btn btn-info btn-log">
                Go Back To Home
            </a>
        </div>
    </div>